<ion-view title="Blog" id="page22">
  <ion-content padding="true" class="has-header">
    <ion-list id="blog-list14">
      <ion-item class="item-thumbnail-left item-icon-right stable" ui-sref="blogBienvenidosAGreenfund">
        <img src="img/uhRteGlkTU63KdsZlzuO_IMG-20170409-WA0020.jpg">
        <h2stable>18/04/2017
          <p style="white-space:normal;">¡Bienvenidos a Greenfund!</p>
          <i class="icon ion-android-share-alt"></i>
          <p style="font-weight:bold;">Noticias</p>
        </h2stable>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right stable" ui-sref="blogBienvenidosAGreenfund">
        <img src="img/Qc5jXUOYTOyhL4CNzO1v_carrots.jpg">
        <h2stable>18/04/2017
          <p style="white-space:normal;">Aprende a cultivar tus zanahorias en casa</p>
          <i class="icon ion-android-share-alt"></i>
          <p style="font-weight:bold;">Tips</p>
        </h2stable>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>