<ion-view title="Canjear puntos" id="page23">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-leaf"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="canjearPuntos-card21">
      <ion-item class="item-avatar" id="canjearPuntos-list-item41">
        <img src="img/537160_601914673168790_1047955553_n.pngohc15d8f17d7b54c2fb1e98b9368803fa7oe598A44A4">
        <h2>2x1 Café Americano</h2>
        <p style="white-space:normal;">Black Coffee Gallery</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/18055971_1780959668597612_7969095531892827743_o.pngoh9cda0757745fdac556bc744c48188e40oe5980D360" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left positive" id="canjearPuntos-list-item49">
        <i class="icon ion-leaf"></i>25pts</ion-item>
      <button id="canjearPuntos-button32" mypopup="ionicModal" class="button button-balanced  button-block">Canjear</button>
    </div>
    <div class="list card" id="canjearPuntos-card23">
      <ion-item class="item-avatar" id="canjearPuntos-list-item47">
        <img src="img/17021687_10154238763602882_6948441183494105436_n.jpgoh635e01c6c6095117ba4ab91d67bfb1b9oe598F9554">
        <h2>10% de descuento en
          <br>tu primer compra</h2>
        <p style="white-space:normal;">Burrinero</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/P4Mkj9iCQqiRZBw0XDNM_15871993_10154098095582882_129927654033607415_n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left positive" id="canjearPuntos-list-item48">
        <i class="icon ion-leaf"></i>15pts</ion-item>
      <button id="canjearPuntos-button20" mypopup="ionicModal" class="button button-balanced  button-block">Canjear</button>
    </div>
    <div class="list card" id="canjearPuntos-card22">
      <ion-item class="item-avatar" id="canjearPuntos-list-item45">
        <img src="img/j4oFPgR3Q5SPcxmB6na5_16640596_658895164312277_7124374510917180358_n.png">
        <h2>Adopta un árbol</h2>
        <p>Bosque Urbano</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/17264703_672830839585376_5824056815500634648_n.pngoh1a869f8d61b68cc50bf2dd50eec3cfb1oe5991FE52" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left positive" id="canjearPuntos-list-item46">
        <i class="icon ion-leaf"></i>10pts</ion-item>
      <button id="canjearPuntos-button24" mypopup="ionicModal" class="button button-balanced  button-block">Canjear</button>
    </div>
  </ion-content>
</ion-view>