<ion-view title="Compartir Evento" id="page26">
  <ion-content padding="true" class="has-header">
    <form id="compartirEvento-form11" class="list">
      <label class="item item-input" id="compartirEvento-search3" name="Buscar personas">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <button id="compartirEvento-button16" class="button button-positive  button-block">Enviar a Todos!</button>
  </ion-content>
</ion-view>