<ion-view title="Crear cuenta" id="page16" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-person"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/RhKYLMmqSoaGTyQfPxBs_logo-empresa.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <form id="crearCuenta-form5" class="list">
      <ion-list id="crearCuenta-list9">
        <label class="item item-input" id="crearCuenta-input10">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="crearCuenta-input11">
          <span class="input-label">Apellido</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="crearCuenta-input25">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="crearCuenta-input14">
          <span class="input-label">Correo electrónico</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="crearCuenta-input15">
          <span class="input-label">Fecha de nacimiento</span>
          <input type="date" placeholder="">
        </label>
        <label class="item item-input" id="crearCuenta-input13">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="crearCuenta-input16">
          <span class="input-label">Confirmar contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <button id="crearCuenta-button12" class="button button-positive button-large button-block">Registrarme</button>
    </form>
  </ion-content>
</ion-view>