<ion-view title="Donar" id="page28">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-happy"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/hMSHbiGuRsCmURo1gP25_logo-greenfund.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="donar-heading10" style="color:#000000;text-align:center;">Donar a través de Paypal</h4>
    <div class="spacer" style="height: 20px;"></div>
    <div class="creator-container" style="text-align:center;">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="HTYNGJJMDMKLG">
        <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
      </form>


    </div>
  </ion-content>
</ion-view>