<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="eventos-tabs1">
    <ion-tab title="Eventos Actuales" icon="ion-ios-calendar" href="#/page18/page13" id="eventos-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Próximos eventos" icon="ion-android-calendar" href="#/page18/page31" id="eventos-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Eventos Pasados" icon="ion-ios-calendar-outline" href="#/page18/page32" id="eventos-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>