<ion-view title="Perfil" id="page17">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-person"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="perfil-button-bar1" class="button-bar"></div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div>
      <img src="img/Az3IIv5Q22duK5nFwg3Q_profile-pic.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="perfil-heading4" style="color:#000000;font-weight:300;text-align:center;">Arlen Amezcua</h3>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="perfil-list15">
      <ion-item class="item-icon-right positive" ui-sref="canjear">Puntos acumulados:
        <h2 class="item-note">100</h2>
        <i class="icon ion-leaf"></i>
      </ion-item>
      <ion-item class="item-icon-right positive">Mis eventos
        <i class="icon ion-ios-calendar"></i>
        <h2 class="item-note">3</h2>

      </ion-item>
      <ion-item class="item-icon-right positive" ui-sref="favoritos">Favoritos
        <i class="icon ion-android-favorite"></i>
        <h2 class="item-note">6</h2>

      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <button id="perfil-button13" class="button button-positive  button-block">Editar perfil</button>
  </ion-content>
</ion-view>