<ion-view title="Registro" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h1 id="registro-heading1" style="color:#000000;text-align:center;">Registro</h1>
    <div id="registro-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Elige el tipo de perfil que quieres registrar</p>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <a ui-sref="registroEmpresa" id="registro-button5" style="font-size:26px;" class="button button-calm button-large button-block icon-left ion-android-contacts">Empresa</a>
    <button id="registro-button6" style="font-size:26px;" class="button button-calm button-large button-block icon-left ion-android-contact">Usuario</button>
  </ion-content>
</ion-view>