<ion-view title="Taller de educación ambiental para niños" id="page30">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-calendar"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="rounded">
      <img src="img/j4oFPgR3Q5SPcxmB6na5_16640596_658895164312277_7124374510917180358_n.png" style="display: block; width: 15%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="tallerDeEducaciNAmbientalParaNiOs-heading12" style="color:#D4D4D4;text-align:center;">Bosque Urbano</h5>
    <div class="divider" style="height: 10px;"></div>
    <h3 id="tallerDeEducaciNAmbientalParaNiOs-heading13" style="color:#6AC9C8;text-align:center;">Taller de educación ambiental para niños</h3>
    <div>
      <img src="img/18055776_692027627665697_2269429285735709414_o.jpgohda40a964131267c55d1485e6bdbef6aeoe598CBE2D" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="tallerDeEducaciNAmbientalParaNiOs-container3">
      <div id="tallerDeEducaciNAmbientalParaNiOs-button-bar4" class="button-bar">
        <button id="tallerDeEducaciNAmbientalParaNiOs-button33" style="font-size:14px;" class="button button-positive button-small button-block button-outline icon-left ion-ios-cart">Comprar boleto</button>
        <button id="tallerDeEducaciNAmbientalParaNiOs-button34" style="font-size:14px;" class="button button-positive button-small button-block button-outline icon-left ion-android-share">Compartir</button>
      </div>
    </div>
    <ion-list id="tallerDeEducaciNAmbientalParaNiOs-list19">
      <ion-item class="item-icon-left" id="tallerDeEducaciNAmbientalParaNiOs-list-item53">
        <i class="icon ion-android-alarm-clock"></i>
        <span class="item-note">Lunes 15 de Mayo a las 11:00AM</span>
      </ion-item>
    </ion-list>
    <ion-list id="tallerDeEducaciNAmbientalParaNiOs-list20">
      <ion-item class="item-icon-left" id="tallerDeEducaciNAmbientalParaNiOs-list-item54">
        <i class="icon ion-android-pin"></i>
        <span class="item-note">El Chaco 3200, Providencia, 44630</span>
      </ion-item>
    </ion-list>
    <ion-list id="tallerDeEducaciNAmbientalParaNiOs-list21">
      <ion-item class="item-icon-left" id="tallerDeEducaciNAmbientalParaNiOs-list-item55">
        <i class="icon ion-ios-pricetag"></i>
        <span class="item-note">Campaña de reforestación</span>
      </ion-item>
      <ion-item class="item-icon-left" id="tallerDeEducaciNAmbientalParaNiOs-list-item56">
        <i class="icon ion-card"></i>
        <span class="item-note">Gratuito</span>
      </ion-item>
      <ion-item class="item-icon-left" id="tallerDeEducaciNAmbientalParaNiOs-list-item57">
        <i class="icon ion-leaf"></i>
        <span class="item-note">
          <b>10pts</b>
        </span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="tallerDeEducaciNAmbientalParaNiOs-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">Debido a la insuficiencia de áreas verdes en Jalisco en 2005 Bosque Urbano ha creado el proyecto llamado "Adopta un árbol" con el fin de crear conciencia ambiental en los ciudadanos. </p>

      <p style="color:#000000;font-size:16px;">Con la adopción de árboles se busca lograr un vÌnculo familiar ya que eligen su árbol en base a sus necesidades y a las características de la especie y se comprometen a cuidarlo y a asegurar su supervivencia.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <creator-map-component options="{&quot;mapTypeId&quot;:&quot;roadmap&quot;}" marker="true" location="El Chaco 3200, Providencia, 44630 Zapopan, Jal." zoom="12" style="display:block;position:relative;width:100%;height:200px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div facebook-comments="" permalink="post.url"></div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
  </ion-content>
</ion-view>