<ion-view title="Un habitante: un árbol" id="page11">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-calendar"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="rounded">
      <img src="img/j4oFPgR3Q5SPcxmB6na5_16640596_658895164312277_7124374510917180358_n.png" style="display: block; width: 15%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="unHabitanteUnRbol-heading8" style="color:#D4D4D4;text-align:center;">Bosque Urbano</h5>
    <div class="divider" style="height: 10px;"></div>
    <h3 id="unHabitanteUnRbol-heading2" style="color:#6AC9C8;text-align:center;">Un habitante: un árbol</h3>
    <div>
      <img src="img/SpralZKIRYGS31rtCwFD_BANNER-2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="unHabitanteUnRbol-container1">
      <div id="unHabitanteUnRbol-button-bar2" class="button-bar">
        <button id="unHabitanteUnRbol-button21" style="font-size:14px;" class="button button-positive button-small button-block button-outline icon-left ion-checkmark-circled">Asistiré</button>
        <button id="unHabitanteUnRbol-button22" style="font-size:14px;" class="button button-positive button-small button-block button-outline icon-left ion-android-share">Compartir</button>
      </div>
    </div>
    <ion-list id="unHabitanteUnRbol-list17">
      <ion-item class="item-icon-left" id="unHabitanteUnRbol-list-item27">
        <i class="icon ion-android-alarm-clock"></i>
        <span class="item-note">Lunes 15 de Mayo a las 11:00AM</span>
      </ion-item>
    </ion-list>
    <ion-list id="unHabitanteUnRbol-list10">
      <ion-item class="item-icon-left" id="unHabitanteUnRbol-list-item29">
        <i class="icon ion-android-pin"></i>
        <span class="item-note">El Chaco 3200, Providencia, 44630</span>
      </ion-item>
    </ion-list>
    <ion-list id="unHabitanteUnRbol-list12">
      <ion-item class="item-icon-left" id="unHabitanteUnRbol-list-item31">
        <i class="icon ion-ios-pricetag"></i>
        <span class="item-note">Campaña de reforestación</span>
      </ion-item>
      <ion-item class="item-icon-left" id="unHabitanteUnRbol-list-item51">
        <i class="icon ion-card"></i>
        <span class="item-note">Gratuito</span>
      </ion-item>
      <ion-item class="item-icon-left" id="unHabitanteUnRbol-list-item52">
        <i class="icon ion-leaf"></i>
        <span class="item-note">
          <b>10pts</b>
        </span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="unHabitanteUnRbol-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">Debido a la insuficiencia de áreas verdes en Jalisco en 2005 Bosque Urbano ha creado el proyecto llamado "Adopta un árbol" con el fin de crear conciencia ambiental en los ciudadanos. </p>

      <p style="color:#000000;font-size:16px;">Con la adopción de árboles se busca lograr un vÌnculo familiar ya que eligen su árbol en base a sus necesidades y a las características de la especie y se comprometen a cuidarlo y a asegurar su supervivencia.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <creator-map-component options="{&quot;mapTypeId&quot;:&quot;roadmap&quot;}" marker="true" location="El Chaco 3200, Providencia, 44630 Zapopan, Jal." zoom="12" style="display:block;position:relative;width:100%;height:200px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div facebook-comments="" permalink="post.url"></div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
  </ion-content>
</ion-view>